.
├── CHANGELOG.md
├── CODE_OF_CONDUCT.md
├── CONTRIBUTING.md
├── LICENSE
├── README.md
├── docker
│   ├── README.md
│   └── apps
│       └── nyati
│           ├── docker-compose.dev.yml
│           ├── docker-compose.yml
│           ├── krakend
│           │   └── krakend.json
│           └── nginx
│               ├── Dockerfile
│               ├── Dockerfile.dev
│               └── default.conf
├── graphql
│   ├── README.md
│   └── nyati-app
│       └── appollo-server.yml
├── k8s
│   ├── README.md
│   ├── broker
│   │   ├── clusterIp.yaml
│   │   ├── deployment.yaml
│   │   ├── loadBalancer.yaml
│   │   └── nodePort.yaml
│   ├── ingress
│   │   └── ingress.yaml
│   └── ns
│       └── default
│           └── nyati
│               ├── combo.yaml
│               └── payment
│                   ├── configMap.yaml
│                   ├── db
│                   │   ├── clusterIp.yaml
│                   │   ├── deployment.yaml
│                   │   ├── loadBalancer.yaml
│                   │   └── nodePort.yaml
│                   ├── secret.yaml
│                   └── server
│                       ├── clusterIp.yaml
│                       ├── deployment.yaml
│                       ├── loadBalancer.yaml
│                       └── nodePort.yaml
├── microservices
│   └── payment
│       ├── Dockerfile.dev
│       ├── ecosystem.config.js
│       ├── index.js
│       ├── package.json
│       └── src
│           ├── controllers
│           │   ├── controllers.js
│           │   └── index.js
│           ├── models
│           │   ├── index.js
│           │   └── models.js
│           ├── routes
│           │   ├── index.js
│           │   └── routes.js
│           ├── services
│           │   ├── index.js
│           │   └── services.js
│           └── subscriber
│               ├── index.js
│               └── subscriber.js
├── package.json
├── production.yml
├── shared
│   ├── README.md
│   ├── broker
│   │   ├── README.md
│   │   ├── package.json
│   │   └── rabbitmq
│   │       ├── exchange.js
│   │       ├── index.js
│   │       ├── publisher.js
│   │       ├── subscriber.js
│   │       └── worker.queue.js
│   ├── config
│   │   ├── README.md
│   │   ├── config.js
│   │   ├── index.js
│   │   ├── logger.js
│   │   ├── morgan.js
│   │   └── package.json
│   ├── constants
│   │   ├── README.md
│   │   └── package.json
│   ├── errors
│   │   ├── README.md
│   │   ├── errors.handler.js
│   │   ├── index.js
│   │   └── package.json
│   ├── middlewares
│   │   ├── README.md
│   │   └── package.json
│   └── utilities
│       ├── APIError.js
│       ├── README.md
│       ├── asyncErrorHandler.js
│       ├── index.js
│       ├── package.json
│       ├── pick.js
│       └── validate.js
├── suite.config
├── suite.html
├── suite.json
└── tests
    ├── README.md
    └── cli
        └── scripts
            └── retrieveWorkspaceName.test.js

36 directories, 81 files
