upstream customer{
    server customer:9000
}

upstream supplier{
    server supplier:9001
}

upstream product{
    server product:9002
}

server {
    listen : 80

    location /{
        proxy_pass http://product
    }

    location /customer{
        rewrite /customer/(.*) $1 break;
        proxy_pass http://customer
    }

    location /supplier{
        rewrite /supplier/(.*) /$1 break;
        proxy_pass http://supplier;
    }
}